-# 住所登録ページ
%body.fourth-page
  .fourth-page__container
    %header.fourth-page__container__header
      %h1
        = link_to '#', class: 'fourth-page__header-logo' do
          = image_tag 'logo.png', alt: 'furima', class: 'header-logo'
      %nav.step-progress-bar
        %ol.progress-bar
          %li.done 会員情報
          %li.done 住所登録
          %li.active 完了

    %main.fourth-page__container__main
      %section.fourth-page__container__main__section
        %h2.fourth-page__container__main__section__upper 完了
        .fourth-page__container__main__section__lower
          = link_to root_path, class: 'top-page-btn' do
            トップページへ

    %footer.fourth-page__container__footer
      %nav.fourth-page__container__footer__nav
        %ul
          %li
            = link_to '#' do
              プライバシーポリシー
          %li
            = link_to '#' do
              フリマ利用規約
          %li
            = link_to '#' do
              特定商取引に関する表記
      = link_to '#', class: 'fourth-page-footer-logo' do
        = image_tag 'logo-white.png', alt: 'furima', class: 'footer-logo', width: '80px', height: '65px'
      %p
        %small © Furima, Inc