.header 
  .header__inner
    .header__inner__main
      %icon
        = image_tag "logo.png", size: "140x40", alt: "logo"
      .header__inner__main__box
        .header__inner__main__box--from
          %h72 キーワードから探す
      .header__inner__main__box__image
        .header__image--tag
          = image_tag "icon-search1.png", size: "35x36", alt: "btn", class: "image-tag"
    .header__inner__nav
      .header__inner__nav--left
        %ul 
          %ls
          %p カテゴリ
          %p ブランド
      .header__inner__nav--right
        %ul
          %ls
          %p ログイン
          %p 新規会員登録


-# <form method="get" action="/users/pay" id="charge-form">
-# <span class="charge-errors"></span>
-# <h4>支払い</h4>
-# <label>カード番号</label>

-# <label>CVC</label>

-# <label>有効期限</label>
          -# <form method="get" action="/users/pay" id="charge-form">

          -# <input type="text" class="number" name="number" maxlength="16" placeholder="カード番号">
          -# %input.namber{type: text name: number maxlength: "16", placeholder: "カード番号"}
          -# <input type="text" class="cvc" name="cvc" maxlength="3" placeholder="CVC">
          -# %input.CVC{type: "text", maxlength: "3", placeholder: "CVC"}
          -# <input type="text" class="exp_month" name="exp_month" maxlength="2" placeholder="月">
          -# <input type="text" class="exp_year" name="exp_year" maxlength="4" placeholder="年">
          -# <button type="submit">カードを追加する</button>
          -# </form>

.main-mypage2
  .main-mypage2__container.clearfix
    .main-mypage2__container__content
      .main-mypage2__container__content__icon
        %h2 クレジットカード情報入力
        .main-mypage2__container__content__icon__card
          %form#charge-form{action: "/users/pay", method: "get"}
            %h3 カード番号 <span>必修</span>
            %input.number{maxlength: "16", name: "number", placeholder: "半角数字のみ", type: "text"}
            %ul.signup__card--list
              %li.icon--visa
                = image_tag("1.png", size: "32x20", id:"icon--visa")
              %li.icon--master
                = image_tag("2.png", size: "32x20", id:"icon--master")
              %li.icon--jcb
                = image_tag("16.png", size: "32x20", id:"icon--jcb")
              %li.icon--americanexpress
                = image_tag("22.png", size: "32x20", id:"icon--americanexpress")
              %li.icon--diners
                = image_tag("10.png", size: "32x20", id:"icon--diners")
              %li.icon--discover
                = image_tag("14.png", size: "32x20", id:"icon--discover")
            %h3 有効期限 <span>必修</span>
            %input.exp_month{type: "text", maxlength: "2", placeholder: "月", name: "exp_month" }
            %input.exp_year{type: "text", maxlength: "4",  placeholder: "年", name: "exp_year"}
            %h3 セキュリティーコード <span>必修</span>
            %input.cvc{:maxlength => "3", :name => "cvc", :placeholder => "４桁もしくは３桁の番号", :type => "text"}/
            %p カード裏面の番号とは？
            %button.button{type: "submit"} カードを追加する
            %input.payjp-token{ type: "hidden", name: "payjpToken", value: "" }

    .main-mypage2__container__side
      .main-mypage2__container__side__nav
        - @contents.each do |content|
          .main-mypage2__container__side__nav__list
            = content
      %h3 
        設定
      .main-mypage2__container__side__nav__setting
        - @settings.each do |setting|
          .main-mypage2__container__side__nav__setting__list
            = setting

