.buy-header
  = link_to root_path do
    = image_tag 'logo.png'
.buy-main
  .buy-main__body
    .buy-main__body__in
      %h2購入内容の確認
    .buy-main__body__buy
      .buy-main__body__buy__inner
        = image_tag @image.image
        .buy-main__body__buy__inner__content
          = @product.name
          %p
            = "¥#{@product.price.to_s(:delimited)}"
            (税込)
          - if @product.postage
            %span 送料込み(出品者が負担)
          - unless @product.postage
            %span 送料別(購入者が負担)
    .buy-main__body__item
      .buy-main__body__item__inner
        .buy-main__body__item__inner__form
          .buy-main__body__item__inner__form__price
          %h2 支払い金額 
          .buy-main__body__item__inner__form__price__cell
            .buy-main__body__item__inner__form__price__cell__aaa
              = "¥#{@product.price.to_s(:delimited)}"
        .buy-main__body__item__inner__point
          %input(type="checkbox")/
          %label ポイントを使用 (所持ポイント: P0)
        .buy-main__body__item__inner__two
          .buy-main__body__item__inner__two__payment
            %h3支払い方法
            = image_tag "1.png", size: "120x70"
            %div
              = "**** **** **** " + @default_card_information.last4
              = @default_card_information.exp_month.to_s + " / " + @default_card_information.exp_year.to_s.slice(2,3)
        .buy-main__body__item__inner__three
          .buy-main__body__item__inner__three__address
            %h3配送先
          -# = @address.
          -# = link_to "登録してください", "#";
          %i.fas.fa-plus-circle
        .buy-main__body__item__inner__form__info
          = link_to pay_product_path(@product) do
            .btn#token_submit 購入する
.buy-footer
  .buy-footer__hight
    .buy-footer__hight__line
      .buy-footer__hight__line__one
      = link_to "プライバシーポリシー", "#";
      .buy-footer__hight__line__two
      = link_to "利用規約", "#";
      .buy-footer__hight__line__three
      = link_to "特定商取引に関する表記", "#";
    .buy-footer__hight__body
      = link_to image_tag('logo-white.png'), '#'
      %p©️FURIMA