.header 
  .header__inner
    .header__inner__main
      %icon
        = image_tag "logo.png", size: "140x40", alt: "logo"
      .header__inner__main__box
        %input{id: "search-input" ,class: "header__inner__main__box__from", type: "textarea", placeholder: "キーワードから探す"}
        .header__inner__main__box__image#search-submit
          = image_tag "icon-search1.png"
        #search-results
    .header__inner__nav
      .header__inner__nav--left
        %ul 
          %ls
          %p カテゴリ
          %p ブランド
      .header__inner__nav--right
        %ul
          %ls
          - if user_signed_in?
            %span
              = link_to user_path(current_user) do
                = "#{current_user.nickname}さんのマイページ"
            = link_to "ログアウト" , destroy_user_session_path, method: :delete
          - unless user_signed_in?
            = link_to "ログイン"   , new_user_session_path
            = link_to "新規会員登録", new_user_registration_path
.main
  .main__visial
    .content
      .content_submit
        %h2 
          人生を変えるフリマアプリ
        %p 
          FURIMAはだれでもかんたんに出品・購入できる
        %p
          フリマアプリです
      .content__btn
        .content__btn--left
          <a href="https://apps.apple.com/jp/app/firefox-%E3%82%A6%E3%82%A7%E3%83%96%E3%83%96%E3%83%A9%E3%82%A6%E3%82%B6%E3%83%BC/id989804926?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2015-11-12&kind=iossoftware&bubble=ios_apps) no-repeat;width:218px; height:65px; margin:16px; background-size:contain;"></a>
        .content__btn--right
          <a href='https://play.google.com/store/apps/details?id=com.amazon.avod.thirdpartyclient&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Google Play で手に入れよう' src='https://play.google.com/intl/us-en/badges/static/images/badges/ja_badge_web_generic.png'/></a>
.top-introdaction
  %h3
    FURIMAが選ばれる3つの理由
  .top-introdaction--item
    .list-pic-left
      = image_tag "pict-reason-01.jpg", size: "306x306", alt: "QR"
      %h3
        <span>3分</span>
        ですぐに出品
      %p 
        スマホで入力するだけで簡単に出品できる！
    .list-pic-bottom
      = image_tag "pict-reason-02.jpg", size: "306x306", alt: "QR"
      %h3
        <span>シンプル</span>
        で使いやすい
      %p 
        めんどくさい入力は必要なく、検索も購入もスムーズ！
    .list-pic-right
      = image_tag "pict-reason-03.jpg", size: "306x306", alt: "QR"
      %h3
        手数料
        <span>業界最安</span>
      %p 
        最大3%でお得に出品&購入！

.top-middel
  .top-middel--in
    %h2
      会員数日本一位
    %p
      FURIMAは、フリマアプリで最も人気。
    %p 
      出品・購入回数も業界最多です！
    %p 
      ほしかったあの商品に出会えるかもしれません。 
    .top-middel--in__content
      .top-middel--in__content--left
        <a href="https://apps.apple.com/jp/app/firefox-%E3%82%A6%E3%82%A7%E3%83%96%E3%83%96%E3%83%A9%E3%82%A6%E3%82%B6%E3%83%BC/id989804926?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2015-11-12&kind=iossoftware&bubble=ios_apps) no-repeat;width:218px; height:65px; margin:16px; background-size:contain;"></a>
      .top-middel--in__content--right
        <a href='https://play.google.com/store/apps/details?id=com.amazon.avod.thirdpartyclient&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Google Play で手に入れよう' src='https://play.google.com/intl/us-en/badges/static/images/badges/ja_badge_web_generic.png'/></a>

.top-key
  %h2 
    FURIMAの特徴
  .top-key__items
    .top-key__items--img
      = image_tag "icon-01.png", size: "201x309", alt: "QR"
      %h3 
        簡単に売り買いできる
      %p 
        スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    .top-key__items--img
      = image_tag "icon-03.png", size: "201x309", alt: "QR"
      %h3 
        売上金は即日振込みに対応
      %p 
        午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
    .top-key__items--img    
      = image_tag "icon-04.png", size: "201x309", alt: "QR"
      %h3 
        様々な支払いに対応
      %p 
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

.pickup__sell
  %h2 
    ピックアップカテゴリー    
  .pickup__sell__box
    .pickup__sell__box__head
      %h3
        新規投稿商品
        = link_to "#" do
          もっと見る  >
          %path
    .pick-lists
      .pick-list
        - @products.first(6).each do |product|
          = link_to product_path(product.id), data: {"turbolinks"=>false} do
            .pick-image
              - product.images.each.with_index(1) do |image,i|
                - if i == 1
                  = image_tag image.image, alt: "QR"
            %h3 
              = product.name
              - if product.soldout
                %p SOLDOUT
            %p1 
              = product.price.to_s(:currency)
              (税込み)
.pickup__brand
  %h2 
    ピックアップブランド
  .pickup__brand__box
    .pickup__brand__box__head
      %h3
        カテゴリ別商品
        = link_to "#" do
          もっと見る  >
    .pick-lists
      .pick-list
        - @categorise.first(6).each do |product|
          = link_to product_path(product.id), data: {"turbolinks"=>false} do
            - product.images.each.with_index(1) do |image,i|
              - if i == 1
                = image_tag image.image, size: "220x180", alt: "QR" 
                .pick-boby
                  %h3
                    = product.name
                    - if product.soldout
                      %p SOLDOUT
                  %p1
                    = product.price.to_s(:currency)
                    (税込み)
.banner
  .banner__inner
    %h4 
      だれでもかんたん、人生を変えるフリマアプリ
    %h5
      今すぐ無料ダウンロード！
  .banner__content
    .banner__content__btn--left
      <a href="https://apps.apple.com/jp/app/firefox-%E3%82%A6%E3%82%A7%E3%83%96%E3%83%96%E3%83%A9%E3%82%A6%E3%82%B6%E3%83%BC/id989804926?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2015-11-12&kind=iossoftware&bubble=ios_apps) no-repeat;width:218px; height:65px; margin:16px; background-size:contain;"></a>
    .banner__content__btn--right
      <a href='https://play.google.com/store/apps/details?id=com.amazon.avod.thirdpartyclient&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Google Play で手に入れよう' src='https://play.google.com/intl/us-en/badges/static/images/badges/ja_badge_web_generic.png'/></a>

.footer
  %ul.contens
    %ls.content
      %h2
        FURIMAについて  
      %ul
        %ls
          %p
            会社概要（運営会社）
          %p
            プライバシーポリシー
          %p
            FURIMA利用規約
          %p 
            ポイントに関する特約
    %ls.content
      %h2
        FURIMAを見る
      %ul
        %ls
          %p
            = link_to "#" do
              カテゴリー一覧
          %p
            = link_to "#" do
              ブランド一覧
    %ls.content
      %h2
        ヘルプ＆ガイド
      %ul
        %ls
          %p
            FURIMAガイド
          %p
            FURIMAロゴ利用ガイドライン
          %p
            お知らせ
  %logo
    = image_tag "logo-white.png", size: "160x46", alt: "logo"
    %p
      © FURIMA