= link_to "兼子さん" , products_path
トップページ
%br
= link_to "地中さん" , new_user_session_path
ログインページ
%br
= link_to "福永さん" , new_user_registration_path
新規登録ページ
%br
= link_to "堀内さん" , new_product_path
商品出品ページ
%br
= link_to "添野" , about_products_path
商品詳細ページ
%br
= link_to "兼子さん" , users_path
ユーザーマイページ
%br
= link_to "地中さん" , buy_products_path 
商品購入確認ページ