= form_for @product do |f|
  %br
  = f.label "商品名"
  = f.text_field :name ,value: "商品名"
  %br
  = f.label "商品の説明"
  = f.text_field :explanation, value: "商品説明"
  %br
  = f.label "カテゴリー"
  = f.select :category_id, [["レディース", 1], ["メンズ", 2], ["その他", 3]]
  %br
  = f.label "ブランド"
  = f.select :bland_id, [["ナイキ", 1], ["コンバース", 2], ["その他", 3]]
  %br
  = f.label "商品の状態"
  = f.select :condition_id, [["新品", 1], ["中古", 2]]
  %br
  = f.label "配送料の負担"
  = f.select :postage, [["送料込み(あなたが負担)", true], ["送料別(購入者が負担)", false]]
  %br
  = f.label "発送元の地域"
  = f.select :region, [["東京都", "東京都"], ["大阪府", "大阪府"], ["それ以外", "それ以外"]]
  %br
  = f.label "発送までの日数"
  = f.text_field :shipping_days, value: 1
  %br
  = f.label "サイズ"
  = f.text_field :size, value: "M"
  %br
  = f.label "販売価格"
  = f.text_field :price, value: "1000"
  %br
  = f.fields_for @image do |i|
    - for num in 1..10
      = i.label "画像#{num}"
      = i.text_field ":image#{num}", value: ""
      %br
  = f.submit "商品を登録する"