.header 
  .header__inner
    .header__inner__main
      %icon
        = link_to root_path do
          = image_tag "logo.png", size: "140x40", alt: "logo"
      .header__inner__main__box
        %input{id: "search-input" ,class: "header__inner__main__box__from", type: "textarea", placeholder: "キーワードから探す"}
        .header__inner__main__box__image#search-submit
          = image_tag "icon-search1.png"
        #search-results
    .header__inner__nav
      .header__inner__nav--left
        %ul
          = render 'layouts/category'
          = render 'layouts/brand'
      .header__inner__nav--right
        %ul
          %ls
          - if user_signed_in?
            %span
              = link_to user_path(current_user), data: {"turbolinks"=>false} do
                = "#{current_user.nickname}さんのマイページ"
            = link_to "ログアウト" , destroy_user_session_path, method: :delete
          - unless user_signed_in?
            = link_to "ログイン"   , new_user_session_path
            = link_to "新規会員登録", new_user_registration_path